---
import Layout from '../layouts/defaultLayout.astro';
---

<Layout title="Trans on Campus • About">
    <main>
        <h1>About</h1>
        <p>
            About ToC goes here
            <br>
            <br>
            Could have description of ToC, what it does, etc
            Also  where Qspace is?
            Idk stuff like that ig

            suggestion:
            -quick history section
            -toc leaders
            -Typical events per year
            -general mission statement
            -Location on campus (if applicable)
        </p>
    </main>
</Layout>
<script>

</script>
<style>

</style>