---
import Layout from '../layouts/defaultLayout.astro';
---

<Layout title="Trans on Campus • About">
    <main>
        <h1>About</h1>
        <p>
            About ToC goes here
            <br>
            <br>
            Could have description of ToC, what it does, etc
            Also  where Qspace is?
            Idk stuff like that ig
        </p>
    </main>
</Layout>
<script>

</script>
<style>

</style>