---
import Layout from '../layouts/defaultLayout.astro';
import ResourceCard from '../components/ResourceCard.astro';
---

<Layout title="Trans on Campus">
    <main>
        <!-- 
            [x] Splash (welcome to TOC, Join/About btns)
            [x] About (what is TOC, what we do, who we are)
            [x] Resources cards (2-3 cards, more resources btn)
            [] Events (upcoming events, past events)
            [] Sponsors
         -->
        <div class="splash">
            <div class="splashContent">
                <div class="splashText">
                    <div class="splashTitle"> Trans on Campus </div>
                    <div class="splashSubtitle">
                        ToC is a support network, social group, and advocacy group
                        for Gender Deverse & Questioning students in Auckland.
                    </div>
                </div>
                <div class="splashButtons">
                    <div class="splashBtn joinBtn">Join ToC</div>
                    <div class="splashBtn aboutBtn">About Us</div>
                </div>
            </div>
        </div>
        <div class="resources section">
            <h1>Resources</h1>
            <!-- <p>Some resources which may be helpful</p> -->
            <!-- <ResourceCard

            /> -->
        </div>
        <div class="doubleSection">
            <div class="about subSection grey">
                <h1>About Us</h1>
                <p>
                    Trans on Campus is a support network, social group, and advocacy
                    group for Gender Deverse & Questioning students in Auckland.
                    <br><br>
                    We provide a safe space for students to meet, socialise, and support each other.

                </p>
                <div class="splashBtn findMore">Learn More</div>
            </div>
            <div class="join subSection transFlag">
                <h1>Join ToC &lt;3</h1>
                <p>
                    Membership is free & for everyone!
                    <br><br>
                    ToC members are invited to our awesome events, and every membership helps secure funding to provide more support.
                    Membership doesn't roll over so you need to fill out this form each year.</p>
                <div class="joinBtns">
                    <div class="splashBtn findMore">Join ToC</div>
                    <div class="splashBtn findMore">Talk on Discord</div>
                </div>
            </div>
        </div>
        <div class="events section">
            <h1>Events</h1>
            <p>upcoming events and past events here!! maybe embed a google calender or instagram feed?</p>
        </div>
        <div class="sponsors section ">
            <div class="leftSide">
                <h1>Proudly supported by our sponsors</h1>
            </div>
            <div class="rightSide">
                <img src="./sponsors/ikea.png" alt="" class="sponsorLogo">
                <img src="./sponsors/jeff.png" alt="" class="sponsorLogo">
                <img src="./sponsors/finland.png" alt="" class="sponsorLogo">
                <img src="./sponsors/jerma.webp" alt="" class="sponsorLogo">
                <img src="./sponsors/movieNight.webp" alt="" class="sponsorLogo">
                <img src="./sponsors/pizza.png" alt="" class="sponsorLogo">
            </div>
        </div>


    </main>
</Layout>
<script>
    (document.querySelector('.navbar') as HTMLElement).style.background = '#fff';
</script>
<style>
    h1 {
        font-size: 3rem;
        font-weight: 700;
        font-family: "Metropolis", "Inter", system-ui, sans-serif;
        margin: 0;
        margin-bottom: 1rem;
        color: #0b0025;
    }
    p {
        font-size: 1.4rem;
        font-weight: 400;
        font-family: "Metropolis", "Inter", system-ui, sans-serif;
        margin: 0;
        color: #0b0025;
    }
    .joinBtns {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .sponsorLogo {
        width: 10rem;
        margin-right: 5rem;
    }
    .transFlag {
        background: rgb(214, 108, 124);
        background: 
            linear-gradient(18deg, rgba(249,222,226,1) 0%, rgba(231,164,193,1) 45%, rgba(86,203,251,1) 100%),
            url(https://grainy-gradients.vercel.app/noise.svg);
    }
    .transFlag h1 {
        color: #fff;
        text-shadow: 0 0 1rem rgba(17, 0, 44, 0.212);
    }
    .transFlag p {
        color: #fff;
        text-shadow: 0 0 1rem rgba(17, 0, 44, 0.397);
    }
    .sponsors {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .rightSide {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;
    }
    .leftSide {
        flex: 0.30;
        height: 100%;
        margin-right: 4rem;
    }
    .grey {
        background: rgb(239, 237, 241);
    }
    .findMore {
        width: fit-content;
        color: white!important;
        background: rgb(116,76,213);
        background: linear-gradient(29deg, rgba(116,76,213,1) 0%, rgba(108,57,200,1) 26%, rgba(116,76,213,1) 100%);
        margin-top: 1.6rem;
    }
    .section {
        padding: 5rem 7rem;
    }
    .doubleSection {
        display: flex;
        flex-direction: row;
    }
    .subSection {
        flex: 1;
        padding: 5rem 7rem;

    }
    .splashContent {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .splashButtons {
        display: flex;
        padding: 0 7rem 0 7rem;
        margin-top: 4rem;
    }
    .splashBtn {
        padding: 1rem 2rem;
        margin-right: 3rem;
        border-radius: 0.5rem;
        font-size: 1.2rem;
        font-weight: 600;
        font-family: "Metropolis", "Inter", system-ui, sans-serif;
        background-color: white;
        color: #633dbd;
        cursor: pointer;
        transition: all 0.2s ease-out;
    }
    .splashBtn:hover {
        background-color: #ffffffde;
    }
    .splashTitle {
        font-size: 5rem;
        font-weight: 700;
        font-family: "Metropolis", "Inter", system-ui, sans-serif;
    }
    .splashSubtitle {
        font-size: 1.7rem;
        font-weight: 400;
        font-family: "Metropolis", "Inter", system-ui, sans-serif;
        width: 70%;
        margin-top: 1rem;
    }
    .splashText {
        color: white;
        padding: 0 7rem 0 7rem;
    }
    .splash {
        /* background: rgb(249,222,226);
        background: radial-gradient(circle, rgba(249,222,226,1) 0%, rgba(231,164,193,1) 50%, rgba(86,203,251,1) 100%);         background-position: center; */
        /* background: rgb(249,222,226);
        background: linear-gradient(18deg, rgba(249,222,226,1) 0%, rgba(231,164,193,1) 45%, rgba(86,203,251,1) 100%);  */
        background: rgb(116,76,213);
        background: linear-gradient(29deg, rgba(116,76,213,1) 0%, rgba(108,57,200,1) 26%, rgba(116,76,213,1) 60%, rgba(134,117,241,1) 100%);
        height: calc(100vh - 17rem);
        width: 100%;
    }
    main, .main {
        width: 100%;
        padding: 0;
        margin: 0;
    }
</style>