---
import Layout from '../layouts/defaultLayout.astro';
---

<Layout title="Trans on Campus Resources">
    <main>
        <!-- 
            Splash (welcome to TOC, Join/About btns)
            About (what is TOC, what we do, who we are)
            Resources cards (2-3 cards, more resources btn)
            Events (upcoming events, past events)
            Sponsors
         -->
        <div class="splash">

        </div>
    </main>
</Layout>