---
interface Props {
	title: string;
}

const { title } = Astro.props;

import Socials from '../components/Socials.astro';
---

<!doctype html>
<html lang="en">
	<head>
        <meta charset="UTF-8" />
		<!-- Primary Meta Tags -->
        <title>Trans on Campus</title>
        <meta name="title" content="Trans on Campus" />
        <meta name="description" content="Support, socials & advocacy for trans/gender diverse students" />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="" />
        <meta property="og:title" content="Trans on Campus" />
        <meta property="og:description" content="Support, socials & advocacy for trans/gender diverse students" />
        <meta property="og:image" content="" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="" />
        <meta property="twitter:title" content="Trans on Campus" />
        <meta property="twitter:description" content="Support, socials & advocacy for trans/gender diverse students" />
        <meta property="twitter:image" content="" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
    <body>
        <slot />
        <Socials />
    </body>
<style is:global>
    :root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background-size: 224px;
	}
</style>